body {
	height: 100vh;
	background: black;
	perspective: 800px;
	display: flex;
	justify-content: center;
}
svg {
	xborder: 1px dashed yellow;
}
#canvas {
	position: absolute;
	top: 0;
	width: 598px;
	height: 598px;
	xborder: 1px dashed teal;
	transform-origin: center;
	transform-type: preserve-3d;
	cursor: grab;
}
body.eggtool { cursor: url(../img/egg2-icon.png) 40 40, crosshair;}
body.oiltool, body.salttool, body.peppertool, body.ketchuptool, body.brownsaucetool
{ cursor: crosshair; }

.eggtool #egg-tool,
.oiltool #oil-tool,
.salttool #salt-tool,
.peppertool #pepper-tool,
.ketchuptool #ketchup-tool,
.brownsaucetool #brownsauce-tool {
	border-color: yellow;
}

#timer {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	color: #ccc;
	font: bold 5em Chewy, Helvetica;
}
ul#tools {
	position: absolute;
	margin: 0;
	padding: 0 0 0 10px;
	top: 10px;
	left: 10px;
	list-style: none;
}
li {
	position: relative;
	width: 80px;
	height: 80px;
	border: 1px solid #999;
	background: rgba(255,255,255,0.2);
	cursor: pointer;
	color: transparent;
	transition: 1s filter;
}
li.disabled {
	filter: grayscale(0.5) contrast(0.25);
	cursor: not-allowed;
}
li span {
	display: inline-block;
	background: #000;
	border: 1px solid #eee;
	border-radius: 0.6em;
	width: 1.2em;
	height: 1.2em;
	color: #eee;
	position: absolute;
	top: 2px;
	left: 2px;
	text-align: center;
	line-height: 1.4em;
}
#oil-tool { background: url(../img/oil-icon.png); }
#egg-tool { background: url(../img/egg2-icon.png); }
#salt-tool { background: url(../img/salt-icon.png); }
#pepper-tool { background: url(../img/pepper-icon.png); }
#ketchup-tool { background: url(../img/ketchup-icon.png); }
#brownsauce-tool { background: url(../img/brownsauce-icon.png); }

.flash {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: white;
	animation: 1s fadeout 1;
	animation-fill-mode: forwards;
}

@keyframes fadeout {
	from {opacity: 1}
	to   {opacity: 0}
}


#goal {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 100px;
	height: 100px;
	border: 1px solid #666;
	background: url(../img/goals.png) no-repeat;
}
#goal:before {
	content: 'GOAL';
	color: #eee;
}

#wobbletoggle {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: dodgerblue;
	font: normal 3em Chewy, Helvetica;
}
#wobbletoggle.disabled {
	color: #999;
}
#logo {
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 300px);
	width: 600px;
	height: 400px;
	background: url(../img/logo.png) no-repeat;
	animation: 2s 2s fadeout;
	animation-fill-mode: forwards;
	pointer-events: none;
}
